---
// @ts-ignore
import { Icon } from "astro-icon";
---

<!-- <div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
  </div>
</div> -->

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-xl text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What our customers say about us</p>
    </div>
    <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
      <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>“The chat-based search has been transformative for us. It's more intuitive, and our customers absolutely love the ease of navigation.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">CEO</div>
                <div class="text-gray-600">India's fastest growing D2C ecommerce brand</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>“From the initial consultation to the final delivery, their team was professional and highly skilled.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Executive</div>
                <div class="text-gray-600">Skincare brand from USA</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>“I was particularly impressed with the structured methodology they employed throughout our project. This, combined with their high-quality outputs, has made them our go-to partners.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">CEO</div>
                <div class="text-gray-600">Upcoming athleisure brand in New Jersey</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>“The advanced customer support tools have been a major improvement. Handling inquiries in various languages and faster resolutions has boosted our customer trust.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">CTO</div>
                <div class="text-gray-600">Asia's fastest growing marketplace</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>“It's rare to find a company that combines such personal attention to detail with such an efficient and effective workflow. They're truly committed to quality and transparency, which made working with them a refreshing experience.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Executive</div>
                <div class="text-gray-600">Refreshment manufacturer from India</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>“Working with this team has been an absolute breeze.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Future You</div>
                <!-- <div class="text-gray-600">Future You</div> -->
              </div>
            </figcaption>
          </figure>
        </div>

        <!-- More testimonials... -->
      </div>
    </div>
  </div>
</div>
