---
// @ts-ignore
import { Icon } from "astro-icon";
---

<!-- <div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
  </div>
</div> -->

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-xl text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Business usecases</p>
    </div>
    <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
      <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>The AI will guide the user to the perfect product for their needs</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Shopify Website Engagement Increase</div>
                <div class="text-gray-600">ChatGPT powered Product Search Bar</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>The AI can contextually search through multiple communication channels - docs, drives, slides, slack, confluence, github, jira, etc</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Workplace Communications SearchBar</div>
                <div class="text-gray-600">ChatGPT powered Product Search Bar</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>The AI can book, edit, confirm, and cancel researvations for a hotel service</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Hotel Booking Agent</div>
                <div class="text-gray-600">Decision Tree based multilingual Customer Support Executive</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>The AI can solve common customer issues and forward them to the right person if they are not solved</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Customer Support Frontline</div>
                <div class="text-gray-600">Decision Tree based multilingual Customer Support Executive</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>The AI can analyse sales, inventory, returns, and orders data from shopify store and provide alerts when important events happen</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Shopify Data Analyst</div>
                <div class="text-gray-600">ChatGPT powered Data Analyst</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>The AI can analyse multiple google sheets and provide insights about the data</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <!-- <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
              <div>
                <div class="font-semibold text-gray-900">Google Sheets Analyst</div>
                <div class="text-gray-600">ChatGPT powered Data Analyst</div>
              </div>
            </figcaption>
          </figure>
        </div>

        <!-- More testimonials... -->
      </div>
    </div>
  </div>
</div>
